<!DOCTYPE html>
<html>
<head>
  {{> meta}}
</head>
<body class="{{body_class}}">

    <header class="header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
      <h1 class="header__logo">
        <a class="blog-logo" href="{{@blog.url}}">
          {{#if @blog.logo}}
            <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
          {{else}}
            <img src="{{asset "/img/logo.svg"}}" alt="BartJS">
          {{/if}}
        </a>
      </h1>
      {{navigation}}

      <section class="header__hero">
        <h2>{{@blog.title}}</h2>
        <p>{{@blog.description}}</p>

        <div class="socialMediaBox">
          <div class="fb-like" data-href="https://www.facebook.com/bartjs.io" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
          <a href="https://twitter.com/_bartjs"
            class="twitter-follow-button"
            data-show-screen-name="false"
            data-size="large"
            data-show-count="true">Follow @_bartjs</a>
        </div>
      </section>
    </header>

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{> footer}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
    </script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=129421927115815";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
